@font-face {
  font-family: 'Montserrat';
  src:
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: red;
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.content h1 {
  font-weight: 900;
  color: #fff;
  font-size: 60px;
}

.cityInput,
.citySubmit {
  padding: 8px 14px;
  background-color: var(--background-white);
  outline: 0;
  border: 0;
  border-radius: 5px;
  color: #000000;
  box-shadow: var(--box-shadow);
  font-family: var(--font-family);
  background-color: #fff;
}

.citySubmit {
  cursor: pointer;
}

.city-content {
  font-weight: 900;
  padding: 8px 14px;
  box-shadow: var(--box-shadow);
  font-family: var(--font-family);
  color: rgb(83, 70, 165);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
